<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('semantic_styles') }}
            {{ encore_entry_link_tags('awesome_notifications_css') }}
            {{ encore_entry_link_tags('codemirror_css') }}
            {{ encore_entry_link_tags('highlight_css') }}
            {{ encore_entry_link_tags('bible') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('semantic_styles') }}
            {{ encore_entry_script_tags('semantic_javascripts') }}
            {{ encore_entry_script_tags('awesome_notifications_js') }}
            {{ encore_entry_script_tags('textarea_markdown') }}
            {{ encore_entry_script_tags('codemirror_js') }}
            {{ encore_entry_script_tags('markdown_it') }}
            {{ encore_entry_script_tags('highlight_js') }}
            {{ encore_entry_script_tags('bible') }}
        {% endblock %}
    </head>
    <body>
        {% include 'modal.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
