<div class="ui menu">
    <a class="header active item" href="{{ path('bible_home') }}">
        Home
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        {% if app.user %}
            <div class="ui item">
                {{ app.user.email }}
            </div>
            <div class="ui item">
                <a class="button primary" href="{{ path('bible_logout') }}">Logout</a>
            </div>
        {% else %}
            <a class="ui item" href="{{ path('bible_login') }}">Login</a>
            <a class="ui item" href="{{ path('bible_register') }}">Register</a>
        {% endif %}
    </div>
</div>
